<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347340916596-ogv7h2duoqalkdh9f4eri6plv7depklr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347340916596-ogv7h2duoqalkdh9f4eri6plv7depklr</string>
	<key>API_KEY</key>
	<string>AIzaSyC3ZGq5ntxRmakTfEHP8sa60qs8FBfoz30</string>
	<key>GCM_SENDER_ID</key>
	<string>347340916596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-3552f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-3552f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347340916596:ios:b59df62c31dba6e0000e21</string>
</dict>
</plist>